@font-face {
    font-family: 'HelveticaNeueLTProLt';
    src: url('HelveticaNeueLTProLt.otf?#iefix') format('otf');
}

@font-face {
    font-family: 'HelveticaNeueLTProMd';
    src: url('HelveticaNeueLTProMd.otf?#iefix') format('otf');
}

@font-face {
    font-family: 'HelveticaNeueLTProRoman';
    src: url('HelveticaNeueLTProRoman.otf?#iefix') format('otf');
}

@font-face {
    font-family: 'Merriweather-LightItalic';
    src: url('Merriweather-LightItalic.ttf?#iefix') format('ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('Montserrat-Light.ttf?#iefix') format('ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('Montserrat-Regular.ttf?#iefix') format('ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('Roboto-Regular.ttf?#iefix') format('ttf');
}

/* 
font-family: "HelveticaNeueLTProLt", sans-serif;
font-family: "HelveticaNeueLTProRoman", sans-serif;
font-family: "Montserrat-Light", sans-serif;
font-family: "Roboto-Regular", sans-serif;
font-family: "HelveticaNeueLTProMd", sans-serif;
font-family: "Merriweather-LightItalic", sans-serif;
font-family: "Montserrat-Regular", sans-serif;
 */

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    border: 1px dotted #777;
}

.header {}

.menu {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item a {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #989696;
    text-decoration: none;
    margin-right: 43px;
}

.menu__item:last-child {
    margin-right: 0;
}

.active a {
    color: #010101;
}

.logo {
    margin: 0 16px;
}

.header__content {
    text-align: center;
}

.header__title {
    font-family: "HelveticaNeueLTProLt", sans-serif;
    font-size: 44px;
    line-height: 41px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #1d1e1f;
    margin: 207px auto 4px;
}

.header__text {}

.header__button {}